<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ClientPhoneApp | Dodaj Klienta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/clients.css}"/>
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/clients}">ClientPhoneApp</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/clients}">Lista klientów</a></li>
            <li class="active"><a th:href="@{/clients/add}">Dodaj klienta</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form autocomplete="off" action="#" th:action="@{/clients/add}"
                  th:object="${client}" method="post" class="form-horizontal" role="form">
                <h2 class="text-center">Nowy klient</h2>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <label for="firstName">Imie:</label>
                        <input id="firstName" type="text" th:field="*{firstName}" placeholder="Podaj swoje imię"
                               class="form-control"/>
                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                               class="error-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <label for="age">Wiek:</label>
                        <input id="age" type="number" th:field="*{age}"
                               placeholder="Ile masz lat" class="form-control"/>
                        <label th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
                               class="error-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <label for="profession">Zawód:</label>
                        <select class="form-control" id="profession" th:field="*{professionName}">
                            <option value="emptyOption"> -- Wybierz -- </option>
                            <option th:each="profession : ${professionList}"
                                    th:value="${profession.name}"
                                    th:text="${profession.businessName}">
                            </option>
                        </select>
                        <label th:if="${#fields.hasErrors('professionName')}" th:errors="*{professionName}"
                               class="error-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button type="submit" class="btn btn-primary btn-block">Dodaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>