<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ClientPhoneApp | Lista Klientów</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/clients.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:inline="javascript" th:src="@{/lib/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/clients}">ClientPhoneApp</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/clients}">Lista klientów</a></li>
            <li><a th:href="@{/clients/add}">Dodaj klienta</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="refresh"><span class="glyphicon glyphicon-refresh">Szukaj</span></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Klienci</h2>
    <div id="clientTable" th:fragment="clientTable">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Imie</th>
                <th>Wiek</th>
                <th>Zawód</th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="client : ${clientsList}">
                <tr th:id="'clientRow'+${client.id}" th:attr="data-target='#accordion'+${client.id}"
                    data-toggle="collapse" class="accordion-toggle">
                    <td><span th:text="${client.id}"></span></td>
                    <td><span th:text="${client.firstName}"></span></td>
                    <td><span th:text="${client.age}"></span></td>
                    <td><span th:text="${client.professionName}"></span></td>
                </tr>
                <tr>
                    <td colspan="4" class="hiddenRow">
                        <div class="accordion-body collapse" th:id="'accordion'+${client.id}">
                            <div class="row">
                                <div th:id="'phoneNumbers'+${client.id}" class="col-md-4">
                                    <ul>
                                        <li class="list-group-item" th:each="phoneNumber : ${client.phoneNumbersDTO}"
                                            th:text="${phoneNumber.number}">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <button type="submit" th:id="'bth-add'+${client.id}"
                                                        class="btn btn-primary btn-add-phone-number">Dodaj
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <form class="form-horizontal" th:id="'add-phone-number-form'">
                                                <input type="text" placeholder="Wprowadź numer telefonu"
                                                       class="form-control" th:id="'phoneNumber'+${client.id}"/>
                                                <input type="hidden" th:value="${client.id}"
                                                       th:id="'clientId'+${client.id}"/>
                                                <label th:id="'phoneNumberPatternNotMatched'+${client.id}"
                                                       class="hidden">
                                                    Numer telefonu musi składać się z 9 cyfr, pierwsza cyfra nie może
                                                    być zerem
                                                </label>
                                                <label th:id="'numberExistsError'+${client.id}" class="hidden">
                                                    Ten numer już istnieje, wprowadź unikalny numer
                                                </label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>